{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "customAttributes": ["className"],
  "customFunctions": ["classNames"]
}
